
.filter__caption_container {
    position: relative; 
}

.filter__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    cursor: pointer;
}

.filter__caption_active {
    color: #AD61FF;
    border-color:  #AD61FF;
}

.filter__caption:hover{
    color: #D9B6FF;
    border-color:  #D9B6FF;
}

.filter__caption_count{
    position: absolute;
    right: -10px;
    top: -10px;
    min-width: 25px;
    color: #fff;
    background-color: #AD61FF;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    padding: 5px;
    border-radius: 50%;
}


.dropdown_container{    
    position: relative;     
}

.list_container {
    position: absolute; 
    background: #313131;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    
}

.scroll_container{
    height: 200px;
    overflow-y: auto;
    padding-right: 10px;
}

.list {     
    background: transparent;
    color: #ffffff;
}

.list_item {
    margin-bottom: 20px;
    text-wrap: nowrap;
    cursor: pointer;
}

.list_item:hover{
    color: #D9B6FF;
}

.list_item_active {
    color: #B672FF;
    text-decoration: underline;
}


.scroll_container::-webkit-scrollbar{
    width: 4px;
}

.scroll_container::-webkit-scrollbar-track {    
    background-color: #4B4949;
}

.scroll_container::-webkit-scrollbar-thumb {
    background-color: #ffffff;    
}



