.filter__caption {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #ffffff;
    border-radius: 60px;
    padding: 6px 20px;
    cursor: pointer;
}

.dropdown_container{    
    position: relative;
}

.select_container {
    position: absolute; 
    background: #313131;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.select {     
    background: transparent;
    color: #ffffff;
    border: none;
    outline: none;
    height: 200px;
    overflow-y: auto;    
}

.select option {
    margin: 20px 10px;
}

.select::-webkit-scrollbar{
    width: 4px;
}

.select::-webkit-scrollbar-track {    
    background-color: #4B4949;
    ;
}

.select::-webkit-scrollbar-thumb {
    background-color: #ffffff;    
}


.select option:checked {     
    background-color: transparent !important;
    color: red !important;
}

